* {
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(223, 120, 47);
  background: linear-gradient(
    90deg,
    rgba(223, 120, 47, 1) 0%,
    rgba(222, 224, 118, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.pricingTable {
  font-family: "Lato", sans-serif;
}
.pricingTable .title {
  color: #fff;
  background: #fc8123;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 7px 15px;
  margin: 0;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
}
.pricingTable .pricing-content {
  background-color: #fff;
  text-align: center;
  padding: 30px 0 25px;
  border-top: 20px solid #fc8123;
  border-radius: 0 20px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.pricingTable .price-value {
  color: #fc8123;
  font-size: 60px;
  font-weight: 600;
  line-height: 45px;
  margin: 0 0 10px;
}
.pricingTable .price-value .duration {
  color: #111;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}
.pricingTable .pricing-content ul {
  background: linear-gradient(
    to right,
    transparent,
    transparent,
    #e9e9e9,
    transparent,
    transparent
  );
  text-align: left;
  padding: 0 15px;
  margin: 0 0 25px;
  list-style: none;
  display: inline-block;
}
.pricingTable .pricing-content li {
  color: #272727;
  font-size: 18px;
  padding: 12px 12px 12px 35px;
  position: relative;
}
.pricingTable .pricing-content li:nth-child(even) {
  background: #fff;
}
.pricingTable .pricing-content li:last-child {
  margin-bottom: 0;
}
.pricingTable .pricing-content li:before {
  content: "\f00c";
  color: #fc8123;
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  position: absolute;
  top: 12px;
  left: 8px;
}
.pricingTable .pricingTable-signup {
  background: #333333;
  padding: 8px 0;
}
.pricingTable .pricingTable-signup a {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s;
}
.pricingTable .pricingTable-signup a:hover {
  text-shadow: 3px 3px 3px #fc8123;
}
.pricingTable.blue .title {
  background-color: #2d3194;
}
.pricingTable.blue .pricing-content {
  border-top-color: #2d3194;
}
.pricingTable.blue .price-value,
.pricingTable.blue .pricing-content li:before {
  color: #2d3194;
}
.pricingTable.blue .pricingTable-signup a:hover {
  text-shadow: 3px 3px 3px #2d3194;
}
.pricingTable.green .title {
  background-color: #77c100;
}
.pricingTable.green .pricing-content {
  border-top-color: #77c100;
}
.pricingTable.green .price-value,
.pricingTable.green .pricing-content li:before {
  color: #77c100;
}
.pricingTable.green .pricingTable-signup a:hover {
  text-shadow: 3px 3px 3px #77c100;
}
@media only screen and (max-width: 990px) {
  .pricingTable {
    margin-bottom: 40px;
  }
}

/* //accordin  */
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
#accordion .panel {
  border: none;
  border-radius: 0;
  margin-bottom: 5px;
  box-shadow: none;
}
#accordion .panel-heading {
  padding: 0;
  border: none;
  border-radius: 0;
  position: relative;
}
#accordion .panel-title a {
  display: block;
  padding: 20px 30px;
  margin: 0;
  background: #e65e36;
  font-size: 17px;
  font-weight: bold;
  color: #f9e2ad;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}
#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before {
  content: "";
  width: 20px;
  height: 2px;
  background: #f9e2ad;
  position: absolute;
  top: 30px;
  right: 30px;
}
#accordion .panel-title a:after,
#accordion .panel-title a.collapsed:after {
  content: "";
  width: 2px;
  height: 20px;
  background: #f9e2ad;
  position: absolute;
  bottom: 18px;
  right: 39px;
  transition: all 0.3s ease 0s;
}
#accordion .panel-title a:after {
  height: 0;
}
#accordion .panel-body {
  padding: 20px 30px;
  background: #56522b;
  border-top: 2px solid #000;
  font-size: 15px;
  color: #f9e2ad;
  line-height: 28px;
  letter-spacing: 1px;
}

/* testenomials slider  */
.testimonial {
  padding: 70px 30px 50px;
  margin: 50px 30px 30px;
  border: 1px solid #ea816b;
  position: relative;
}
.testimonial .pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #c7373c;
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
}
.testimonial .pic img {
  width: 100%;
  height: auto;
}
.testimonial .description {
  font-size: 15px;
  color: #5e595b;
  line-height: 27px;
  text-align: center;
  margin: 0;
  position: relative;
}
.testimonial .description:before {
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  color: #d7d7d7;
  position: absolute;
  top: 0;
  left: -2px;
}
.testimonial .title {
  display: inline-table;
  padding: 10px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #ea816b;
  font-size: 20px;
  font-weight: 700;
  color: #c7373c;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  bottom: -22px;
  left: 0;
  right: 0;
}
.testimonial .post {
  font-size: 15px;
  color: #671a36;
}
.owl-theme .owl-controls {
  width: 100%;
  height: 50px;
  opacity: 1;
  position: absolute;
  top: 38%;
}
.owl-theme .owl-controls .owl-buttons div {
  width: 50px;
  height: 50px;
  line-height: 40px;
  border-radius: 0;
  background: transparent;
}
.owl-prev {
  position: absolute;
  left: -5%;
}
.owl-next {
  position: absolute;
  right: -5%;
}
.owl-prev:after,
.owl-next:after {
  content: "\f104";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: #c7373c;
  opacity: 1;
}
.owl-next:after {
  content: "\f105";
}

@media only screen and (max-width: 479px) {
  .testimonial {
    padding: 70px 10px 30px;
  }
  .testimonial .description:before {
    top: -20px;
  }
  .testimonial .title {
    font-size: 12px;
  }
  .testimonial .post {
    font-size: 11px;
  }
}

/* footer  */

#container {
  width: 100% !important;
  height: 330px;
}

#part1 {
  width: 100%;
  height: 280px;
  background-color: #292929;
}

#part2 {
  width: 100%;
  height: 50px;
  background-color: black;
  position: relative;
  top: -15px;
}

#companyinfo {
  width: 14%;
  height: 280px;
  position: relative;
  left: 8%;
  top: 30px;
}

#sitelink {
  font-size: 35px;
  color: #f44336;
}

#sitelink:hover {
  color: #e65100;
}

#title {
  color: gray;
  position: relative;
  top: 0px;
  font-size: 14.1px;
}

#detail {
  color: #aaa7a7;
  font-size: 16px;
}

#explore {
  width: 14%;
  height: 280px;
  position: relative;
  top: -235px;
  left: 29%;
}

#txt1,
#txt2,
#txt3,
#txt4,
#txt5 {
  color: white;
  font-size: 20px;
}

.link {
  display: flex;
  width: 90px;
  height: 40px;
  color: #aaa7a7;
  background-color: transparent;
  border-top: 2px solid white;
  position: relative;
  top: -10px;
}

.link:hover,
.link1:hover {
  color: #e65100;
}

#visit {
  width: 14%;
  height: 280px;
  position: relative;
  top: -515px;
  left: 42%;
}

.text {
  color: #aaa7a7;
  font-size: 14px;
  margin-top: -10px;
}

#legal {
  width: 14%;
  height: 280px;
  position: relative;
  top: -800px;
  left: 59.5%;
}

.link1 {
  display: flex;
  width: 150px;
  height: 40px;
  color: #aaa7a7;
  background-color: transparent;
  border-top: 2px solid white;
  position: relative;
  top: -10px;
  margin-top: 7px;
}

#subscribe {
  position: relative;
  top: -1080px;
  left: 78%;
  width: 14%;
  height: 280px;
}

#email {
  color: white;
  position: relative;
  top: -20px;
}

.btn {
  position: relative;
  top: -10px;
}

#txt5 {
  position: relative;
  top: 0px;
}

.social {
  position: relative;
  top: -5px;
  margin-right: 10px;
  color: white;
  cursor: pointer;
}

.fa-facebook-square:hover {
  color: #3b579d;
}

.fa-linkedin:hover {
  color: #007bb6;
}

.fa-twitter-square:hover {
  color: #2caae1;
}

#txt6 {
  color: white;
  position: relative;
  top: 13px;
  left: 8%;
  width: 80%;
  color: #aaa7a7;
}

.material-icons {
  position: relative;
  top: 3px;
}

@media only screen and (max-width: 1000px) {
  #companyinfo {
    width: 20%;
  }

  #sitelink {
    font-size: 30px;
  }

  #txt5,
  #txt4 {
    font-size: 17px;
  }

  #txt5,
  .social {
    position: relative;
    top: -5px;
  }
}

@media only screen and (max-width: 850px) {
  #companyinfo {
    position: relative;
    left: 3%;
  }

  #txt6 {
    position: relative;
    left: 3%;
  }

  #txt1,
  #txt2,
  #txt3,
  #txt4,
  #txt5 {
    font-size: 15px;
  }

  #explore {
    position: relative;
    top: -240px;
    left: 26%;
  }

  #sitelink {
    font-size: 25px;
  }

  #detail {
    font-size: 13px;
  }

  .link {
    width: 60px;
  }

  #visit {
    position: relative;
    top: -520px;
    left: 37%;
  }

  .text {
    font-size: 13px;
  }

  #legal {
    position: relative;
    top: -800px;
    left: 54%;
  }

  #subscribe {
    position: relative;
    top: -1080px;
    left: 76%;
    width: 20%;
  }

  #txt5,
  .social {
    position: relative;
    left: -110%;
    top: px;
  }

  #email,
  .btn {
    position: relative;
    top: 0px;
  }

  #part1 {
    height: 250px;
  }
}
