<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> gg </title>
    {{>links}}
</head>

<body>
    {{>header}}
    <div class="container bg-white shadow my-4  mx-auto p-2 p-lg-5" style="margin: 0 auto;">
        <div class="row">
            <div class="col-lg-6">
                <img src="https://media.gettyimages.com/photos/portrait-of-smiling-teenage-girl-on-white-picture-id1092658906?s=612x612"
                    alt="" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h1 class="display-4 font-weight-bold">About Me</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis pariatur exercitationem id odit
                    incidunt. Alias eaque possimus fugit numquam quia asperiores commodi recusandae, delectus ipsum?</p>

                <p class="muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis neque perferendis expedita.
                    Libero doloremque inventore quo tempora totam numquam iste quaerat sequi, ducimus laboriosam. Iste
                    iusto autem, vitae voluptates quidem eaque sint tenetur dolore voluptatibus rem inventore aperiam,
                    consequuntur sed dignissimos! Numquam accusamus quibusdam adipisci.
                </p>
                <a class="nav-link btn btn-danger btn-sm" style="border-radius: 25px; padding: 0.5rem 2.4rem;"
                    href="https://nirtechnical.com">My website</a>
            </div>
        </div>
    </div>
    {{>scripts}}
    {{>footer}}
</body>


</html>