<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> gg </title>
    {{>links}}
</head>

<body>
    {{>header}}
    <div class="container bg-white shadow my-4  mx-auto p-2 p-lg-5" style="margin: 0 auto;">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
                <img src="https://st2.depositphotos.com/1265075/7446/i/600/depositphotos_74468913-stock-photo-contact-us-icons-on-cubes.jpg"
                    alt=" a" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h1 class="display-4 font-weight-bold mb-4" style="font-size: 2rem;">Social Links</h1>
                <div class="mt-2">
                    <i class="fa fa-phone d-inline-block" aria-hidden="true"
                        style="margin-right: 10px; color: lightcoral;"></i> <span>+977 895443115</span>
                </div>
                <div class="mt-2">
                    <i class="fa fa-envelope d-inline-block" aria-hidden="true"
                        style="margin-right: 10px; color: lightcoral;"></i> <span>express@gmail.com</span>
                </div>
                <div class="mt-2">
                    <i class="fa fa-globe d-inline-block" aria-hidden="true"
                        style="margin-right: 10px; color: lightcoral;"></i> <span>nirtechnical.com</span>
                </div>
                <div class="mt-2">
                    <i class="fa fa-map d-inline-block" aria-hidden="true"
                        style="margin-right: 10px; color: lightcoral;"></i> <span> Kathmandu, Nepal </span>
                </div>

            </div>
        </div>
        <div class="row mt-5 pt-2">
            <div class="col-lg-12 mx-auto">

                <div class="container">
                    <form class="row ">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" name="lkasdf" id="lfa" placeholder="Full Name" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" name="ds" id="ds" placeholder="Email" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea name="sdf" class="form-control" id="adsf" cols="30" rows="5"
                                    required>Message</textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mt-2">
                                <button class="btn btn-info mt-2">send</button>
                            </div>
                        </div>
                    </form>
                </div>




            </div>

        </div>
    </div>
    {{>scripts}}
    {{>footer}}
</body>


</html>