<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> gg </title>
    {{>links}}
</head>

<body>
    {{>header}}
    <div class="container bg-white shadow my-4  mx-auto p-2 p-lg-5" style="margin: 0 auto;">
        <div class="row">
            <div class="col-lg-5 mx-auto">
                <form action="">
                    <a class="navbar-brand font-weight-bold my-4 text-secondary d-block text-center"
                        href="javascript:void(0)">ExpressWeb</a>
                    <div class="form-group">
                        <input type="text" name="lkasdf" id="lfa" placeholder="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="lkasdf" id="lfa" placeholder="password" class="form-control">
                    </div>
                    <div class="form-group mt-2">
                        <button class="btn btn-info btn-block mt-4">Log in</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    {{>scripts}}
    {{>footer}}
</body>


</html>